/* Global Reset */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* 전체 페이지 스크롤 방지 */
  background-color: #f0f0f0;
  /* 배경색 통일 */
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}